
.kap{
    display: inline-block;
    padding-bottom: 1rem;
    padding-top: 2rem;
    height:7.5rem;
    width:48%;
    border-radius: 15px;
    background: #fff;
    margin-bottom: 1rem;

}

.kapi{
    width: 100%;
    margin-bottom: 2rem;
}
